.container {
  width: 250px;

  background: #895737;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatarContainer {
  position: fixed;
  width: 20vw;
  height: 50%;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.avatar {
  width: 200px;
  height: 200px;

  background: url("../public/avatar.jpg");
  border: 10px solid #dab49d;
  border-radius: 100%;
  background-position: 60% 50%;
  background-size: 200px 200px;
}

.content {
  position: fixed;
  width: 20vw;
  height: 50%;
  top: 50%;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
}

.navItem {
  color: #dab49d;
  font-weight: 800;
  font-size: large;
  letter-spacing: 0.05rem;
  text-transform: uppercase;

  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;
}
